<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <form novalidate ng-submit="loadProducts()">
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title_part">
            <label for="filterTitle">Название продукта</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="number" class="form-control" id="filterMinCost" placeholder="" ng-model="filter.min_cost">
            <label for="filterMinCost">Мин. цена</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="number" class="form-control" id="filterMaxCost" placeholder="" ng-model="filter.max_cost">
            <label for="filterMaxCost">Макс. цена</label>
        </div>
        <p></p>
        <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Применить</button>
    </form>

    <h3>Список продуктов</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Продукт</td>
            <td>Цена</td>
            <td>Действие</td>
        </tr>
        <tbody>
        <tr ng-repeat="s in ProductsList">
            <td>{{s.id}}</td>
            <td>{{s.title}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changeScore(s.id, -5)">-</button>
                {{s.cost}}
                <button class="btn btn-primary" ng-click="changeScore(s.id, 5)">+</button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProduct(s.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>

    <p></p>
    <h3>Добавить продукт через JSON</h3>
    <form novalidate ng-submit="createProductJson()">
        <input class="form-control" type="text" placeholder="Назваие" ng-model="newProductJson.title">
        <p></p>
        <input class="form-control" type="number" placeholder="Стоимость" ng-model="newProductJson.cost">
        <p></p>
        <button type="submit" class="btn btn-primary">Сохранить JSON продукта</button>
    </form>
</div>
</body>
</html>